.loading:hover {
    opacity: 0.8;
    cursor: pointer;
}

.filter {
    opacity: 1;
    color: rgba(51, 51, 58, 1);
    font-family: "ProximaNova-Regular";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

.labellStyle {
    opacity: 1;
    color: rgba(51, 51, 58, 1);
    font-family: "ProximaNova-Regular";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;
}

.foursizes {
    display: flex;
    flex-direction: row;
}

.thesizes {
    border: 1px solid rgba(243, 243, 243, 1);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.guides {
    opacity: 1;
    color: rgba(51, 51, 58, 1);
    font-family: "ProximaNova-Semibold";
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
    line-height: 40px;
    text-transform: uppercase;
}

.sizes {
    opacity: 1;
    color: rgba(51, 51, 58, 1);
    font-family: "ProximaNova-Regular";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}
.thesizes1{
    border: 1px solid rgba(243, 243, 243, 1);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: wheat;
}
.thetopwidth{
    border-top-width: 1px;
    border-top-style: solid;
}
.Arrow {}

.titleLabel {
    opacity: 1;
    color: rgba(51, 51, 51, 1);
    font-family: "VLNewParisHeadline";
    font-size: 24px !important;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
}

.reset {
    opacity: 1;
    color: rgba(255, 96, 8, 1);
    font-family: "ProximaNova-Regular";
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    text-align: left;
    line-height: 40px;
    text-transform: uppercase;
}

.labellDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.container {
    display: flex;
    margin-top: 40px;
}

.left {
    width: 18vw;
    margin-right: 2.083vw;
}

.right {
    display: flex;
    flex-direction: column;
    width: 58.89vw;
}

.gridContainer {
    display: grid;
    grid-template-columns: 18.26vw 18.26vw 18.26vw;
    /* grid-column-gap: 3%; */
    column-gap: 2.1vw;
    /* grid-row-gap: 2vw; 40px */
    row-gap: 2vw;
    /* 30px */
}

.loading {
    opacity: 1;
    color: rgba(51, 51, 58, 1);
    font-family: "ProximaNova-Semibold";
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    border: none;
    background-color: white;
    margin-top: 39px;
}

@media only screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }

    .gridContainer {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .right {
        width: 79vw;
    }

    .left {
        width: 100%;
        margin-right: 0;
    }
}

/* //////// */

.sortSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
}

.sortSection select {
    margin-left: 1.736vw;
    width: 11.4583vw;
    opacity: 1;
    color: rgba(81, 83, 86, 1);
    font-family: "ProximaNova-Regular";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 20px;
    text-transform: uppercase;
    height: 40px;
    border: 1px solid rgba(222, 222, 222, 1);
    background-color: rgba(255, 255, 255, 1);
    appearance: none;
}

.sortSpan {
    display: flex;
    align-items: center;
}

.sortSection p {
    opacity: 1;
    color: rgba(51, 51, 51, 1);
    font-family: "VLNewParisHeadline";
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    text-align: left;
    line-height: 40px;
    margin: 0;
}

@media only screen and (max-width: 700px) {
    .sortSection select {
        width: 20vw;
    }
}